{# app\Resources\TwigBundle\views\Exception\error.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>An error Occured: {{ status_text }}</title>
    </head>
    <body>
        <h1>Oops! An error occured</h1>
        <h2>Le serveur a retourné une "{{ status_code }} {{ status_text }}".</h2>
        
        <section>
            <p>Something is broken. Please e-mail us at [email] and let us know what you were doing when this error occured.</p>
            <p>We will fix it as soon as possible. Sorry for any inconvenience caused.</p>            
        </section>
    </body>
</html>
