### Directories
/bin/
/doc/*
/public/pdf/
/public/build/
/src/sessions/*
/var/*
/vendor/

### Files
.env.local
phpunit.xml
/config/bootstrap.php

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
