/web/bundles/
/web/js/
/web/css/
/web/pdf/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/sessions/*
/app/config/parameters.yml
/app/phpunit.xml
/vendor/
/composer.phar
/bin/
