default:
  suites:
    default:
      contexts:
        - Behat\Tests\DemoContext
        - Behat\Tests\InventoryContext

  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: tests/bootstrap.php
      kernel:
        class: Infrastructure\Kernel
        path: ~
        environment: ~
        debug: ~
