default:
    suites:
        default:
            contexts:
                - Tests\Behat\DemoContext
                - Tests\Behat\InventoryContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: Infrastructure\Kernel
                path: ~
                environment: ~
                debug: ~
