<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
<!--        <env name="DATABASE_URL" value="${MYSQL_USER}:${MYSQL_PASSWORD}@mariadb:3306/${MYSQL_DATABASE_TEST}?serverVersion=mariadb-10.1.47" />-->

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default" />
        <!-- MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <!-- ###- symfony/messenger ### -->
    </php>

    <testsuites>
        <testsuite name="Domain">
            <directory>tests/Unit/Administration/Domain</directory>
            <directory>tests/Unit/Core/Domain</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>tests/Unit/Administration/Infrastructure</directory>
            <exclude>tests/Unit/AbstractControllerTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
