<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']"><span class="icon-GLSR"></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="btn nav-link" [routerLink]="['#']" routerLinkActive="active">Features</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
              <li class="nav-item" *ngIf="user">
                  <a class="btn nav-link" [routerLink]="['/administration']" routerLinkActive="active">Administration</a>
              </li>
              <li class="ml-4 nav-item" *ngIf="user">
                  <a class="btn fa fa-power-off text-white" (click)="logout()"><span class="sr-only">Déconnexion</span></a>
              </li>
            </ul>
        </div>
    </div>
</nav>
