fieldset > section.col-md-12 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th {
    line-height: 2;
}

.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    line-height: 1.5;
}

input[type='text'].inventory {
    width: 85%!important;
}
.col-lg-3 input[type='text'].inventory {
    width: 100%!important;
}
