<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        
        <title>{% block title %}{% endblock %}</title>
        
    {% block stylesheets %}
      {% stylesheets output='css/main.css' filter='cssrewrite, ?yui_css'
        'css/bootstrap.css'
        '@SdzBlogBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
    {% endblock %}
  </head>
    
    <body>
        <div class="container">
            <header id="header" class="jumbotron">
                {% block header %}{% endblock %}
            </header>
            
            <nav id="menu" class="col-md-12">
                {% block menu_bundle %}{% endblock %}
            </nav>
                
            <div class="row">
                <section id="content" class="col-md-12">
                    {% block body %}
                    {% endblock %}
                </section>
            </div>

            <hr />
        
            <footer>
                <p>GLSR &copy 2014 and beyond.</p>
            </footer>
        </div>
        
    {% block javascripts %}
      <script>window.jQuery || document.write('<script src="{{ asset('js/jquery.min.js') }}"><\/script>');</script>

      {# Tous nos javascripts avec Assetic #}
      {% javascripts output='js/main.js' filter='?yui_js'
        'js/bootstrap.js'
        '@GlsrGestockBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
    </body>
</html>