<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?yui_css' 
                'bundles/glsrgestock/css/main.css'
                'bundles/glsrgestock/css/bootstrap.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    
    <body{% block body_js %}{% endblock %}>
        <div class="container">
            <header id="header" class="jumbotron">
                {% block header %}{% endblock %}
            </header>
            
            <nav id="menu" class="col-md-12">
                {% block menu_bundle %}{% endblock %}
            </nav>
                
            <div class="row">
                <section id="content" class="col-md-12">
                    {% block body %}
                    {% endblock %}
                </section>
            </div>

                    <hr />
        
            <footer>
                    <p>{{ 'glsr.copy'|trans }}</p>
            </footer>
        </div>
        
        {% block javascripts %}
            <script>window.jQuery || document.write('<script src="{{ asset('bundles/glsrgestock/js/jquery-1.11.1.js') }}"><\/script>');</script>

            {# Tous nos javascripts avec Assetic #}
            {% javascripts filter='?yui_js'
                'bundles/glsrgestock/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>