{# src\Glsr\GestockBundle\Resources\views\Gestock\Article\edit.html.twig #}

{% extends "GlsrGestockBundle::layout.html.twig" %}

{% block title %}
    Settings - {{ parent() }}
{% endblock %}

{% block body_js %}
    onLoad='fillSubFamilyLog(); getFamilyLog();'
{% endblock %}

{% block body_title %}
    {{ 'glsr.gestock.article.edit.title'|trans }}
{% endblock %}

{% block glstock_body %}

    {% include 'GlsrGestockBundle:Gestock/Article:form.html.twig' %}

    <p>
        <a href="{{ path('glstock_art_list') }}" class="btn btn-default" role="button">
            <i class="glyphicon glyphicon-chevron-left"></i>
            {{ 'glsr.gestock.return_list'|trans }}
        </a>
    </p>
{% endblock %}
