<form method="post" action="{{ path('admin_settings_delete', {'uuid': settings.uuid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete'~settings.uuid) }}">
    <button class="pl-0 btn text-danger btn-sm">Delete</button>
</form>
