/* Indent list styles
-------------------------------------------------- */

$indents: 1, 2, 3, 4, 5, 6;

@each $indent in $indents {
  .list-#{$indent} {
    padding-left: 2.5rem * $indent !important;
    display: block;
  }
}
