parameters:
    level: 8
    paths:
        - src
        - tests
    excludes_analyse:
        - tests/bootstrap.php
        - tests/Unit/DatabaseHelper.php
        - tests/Unit/AbstractControllerTest.php
    bootstrapFiles:
        - bin/.phpunit/phpunit-9.5-0/vendor/autoload.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
