<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="Domain">
            <directory>tests/Unit/Administration/Domain</directory>
            <directory>tests/Unit/Company/Domain</directory>
            <directory>tests/Unit/Core/Domain</directory>
            <directory>tests/Unit/User/Domain</directory>
        </testsuite>
        <testsuite name="End2End">
            <directory>tests/End2End/Administration/Infrastructure</directory>
            <directory>tests/End2End/Company/UI</directory>
            <directory>tests/End2End/User/UI</directory>
            <exclude>tests/End2End/AbstractControllerTest.php</exclude>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
