/* 
    Created on : 10 mai 2018, 23:26:46
    Author     : dev-int
*/

@import "icomoon.scss";

/* phone type */
.addon-phone {
    padding: 0 !important;
    width: 16.66666667% !important;
}
.addon-phone>select,
select.form-control {
    padding: 1px 3px !important;
    font-size: 10px !important;
}

/* text */
.stronger {
    font-weight: bold;
}

/* Field town */
input[id *= '_town'] {
    text-transform: uppercase;
}

/* Field orderdate */
div[id *= '_orderdate'] .checkbox {
    display: inline-block;
    width: calc(100% / 7);
    text-align: center;
}
input[type="checkbox"][id *= '_orderdate'] {
    position: relative;
    margin: 5px;
}
ul.orderday {
    margin: 0;
}
ul.orderday li {
    display: inline-block;
    border-right: #000 1px solid;
    padding: 0 15px;
    margin: 0;
}

/* Field zoneStorages */
div[id*='zoneStorage']>.checkbox {
    display: inline-block;
    width: 45%;
}
