@import "font-awesome.css";
@import "icomoon.css";
@import "knp_menu.css";
@import "simple-sidebar.css";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 70px;
}
h2, .h2 {
    font-size: 166%;
}
.btn-edit:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f044';
    margin-right: 4px!important;
}
.btn-create:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f067';
    margin-right: 4px!important;
}
.btn-show:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f06e';
    margin-right: 4px!important;
}
.btn-list:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f03a';
    margin-right: 4px!important;
}
.btn-delete:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f014';
    margin-right: 4px!important;
}
.btn-print:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f02f';
    margin-right: 4px!important;
}

.addon-phone {
    padding: 0 !important;
    width: 16.66666667% !important;
}
.addon-phone>select,
select.form-control {
    padding: 1px 3px !important;
    font-size: 10px !important;
}
