{% extends "@EasyAdmin/default/new.html.twig" %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        function getFamilyLog(){
            var id_select = $('#article_supplier').val();

            $.ajax({
                url: "{{ path('getfamilylog') }}",
                type: 'POST',
                data: {'id': id_select},
                dataType: 'json',
                success: function(json){
                    $('#article_familylog').children('option:not(:first)').remove();
                    $('#article_familylog')
                        .append($("<option></option>")
                        .attr("value",json.family.id)
                        .text(json.family.name));
                    
                    $.each(json.family, function(i, item) {
                        $('#article_familylog')
                            .append($("<option></option>")
                            .attr("value",json.family[i].id)
                            .text(json.family[i].name));
                    });
                    $('#article_familylog option[value="' + json.id + '"').attr('selected', 'selected');
                }
            });
        }
    </script>
{% endblock %}
