{# src\Glsr\GestockBundle\Resources\views\Gestock\Settings\divers.html.twig #}

<section class="well row">
    <div class="col-md-7">
        {% include 'GlsrGestockBundle:Gestock/Settings/divers:familylog.html.twig' %}
    </div>

    <div class="col-md-4 col-md-offset-1">
        {% include 'GlsrGestockBundle:Gestock/Settings/divers:zonestorage.html.twig' %}
    </div>
</section>
<section class="well row">
    <div class="col-md-7">
        {% include 'GlsrGestockBundle:Gestock/Settings/divers:unitstorage.html.twig' %}
    </div>

    <div class="col-md-4 col-md-offset-1">
        {% include 'GlsrGestockBundle:Gestock/Settings/divers:tva.html.twig' %}
    </div>
</section>
