body {
    padding-top: 70px;
}

fieldset > section.col-md-12 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th {
    line-height: 2;
}

.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    line-height: 1.5;
}

label {
    padding-right: 10px;
}
label.required:before {
    content: "* ";
    font-weight: bold;
}
input[type='text'].inventory {
    text-align: right;
}
.col-lg-3 input[type='text'].inventory {
    width: 100%!important;
}

.negative {
    color: red!important;
    font-weight: bold!important;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
i.danger {
    color: white;
}

.navbar-brand {
    font-size: 20px !important;
}

.btn-edit:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f044';
    margin-right: 4px;
}
.btn-create:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f067';
    margin-right: 4px;
}

#article th {
    word-wrap: break-word;
}

input[type='text'].half,
select.half {
    width: 50%!important;
    display: inline-block!important;
}

.form-line {
    display: block;
    margin-bottom: 10px;
}
.form-line > .clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}

.panel-heading.label {
    display: block;
    margin: 0!important;
    color: #ffffff!important;
    background-color: #777777!important;
    padding: 5px!important;
}
div.panel.panel-default > div.panel-body {
    padding: 5px;
}
div.panel.panel-default > div.panel-body > div.col-md-9 > label {
    font-weight: normal;
}
