body {
    padding-top: 70px;
}

h2, .h2 {
    font-size: 166%!important;
}
fieldset > section.col-md-12 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-bold {
    font-weight: bold;
}
div[class$='-letters'] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
div.text-5-letters { width: 15%; }
div.text-15-letters { width: 35%; }
div.text-20-letters { width: 50%; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th {
    line-height: 2;
}

.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    line-height: 1.5;
}

label {
    padding-right: 10px;
}
label.required:before {
    content: "* ";
    font-weight: bold;
}
input[type='text'].inventory {
    text-align: right;
}
.col-lg-3 input[type='text'].inventory {
    width: 100%!important;
}

.negative {
    color: red!important;
    font-weight: bold!important;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
i.danger {
    color: white;
}

.navbar-brand {
    font-size: 133% !important;
}

.btn-edit:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f044';
    margin-right: 4px!important;
}
.btn-create:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f067';
    margin-right: 4px!important;
}
.btn-show:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f06e';
    margin-right: 4px!important;
}
.btn-list:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f03a';
    margin-right: 4px!important;
}
.btn-delete:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f014';
    margin-right: 4px!important;
}
.btn-print:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f02f';
    margin-right: 4px!important;
}

.pagination > li > span.previous:before,
.pagination > li > a > span.previous:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f100';
    margin-right: 5px!important;
}
.pagination > li > span.next:after,
.pagination > li > a > span.next:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f101';
    margin-left: 5px!important;
}
span.glyphicon, i.glyphicon, span.fa, i.fa,
li[icon^='fa '] {
    margin-right: 4px!important;
}
button>i.fa {
    margin-right: 0!important;
}

#article th {
    word-wrap: break-word;
}

input[type='text'].half,
select.half {
    width: 50%!important;
    display: inline-block!important;
}

.form-line {
    display: block;
    margin-bottom: 10px;
}
.form-line > .clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}

.panel-heading.label {
    display: block;
    margin: 0!important;
    color: #ffffff!important;
    background-color: #777777!important;
    padding: 5px!important;
}
div.panel.panel-default > div.panel-body {
    padding: 5px;
}
div.panel.panel-default > div.panel-body > div.col-md-9 > label {
    font-weight: normal;
}

.alerts .list-group-item {
    padding: 5px!important;
}
.alerts span.col-md-1, .alerts span.col-md-2, .alerts span.col-md-3,
.alerts span.col-md-4, .alerts span.col-md-5, .alerts span.col-md-6,
.alerts span.col-md-7, .alerts span.col-md-10 {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.addon-phone {
    padding: 0 !important;
}

section.alerts .panel {
    /*border: none !important;*/
    border-radius: 0 !important;
/*    -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.7) !important;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.7) !important;*/
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
section.alerts .panel-heading {
    border-top-right-radius: 0 !important;
}

/*==================================================
 * Effect 2 "https://css-tricks.com/almanac/properties/b/box-shadow/"
 * ===============================================*/
section.alerts .panel
{
  position: relative;
}
section.alerts .panel:before, section.alerts .panel:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #000;
  -webkit-box-shadow: 0 15px 10px #000;
  -moz-box-shadow: 0 15px 10px #000;
  box-shadow: 0 15px 10px #000;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
section.alerts .panel:after
{
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  right: 10px;
  left: auto;
}

/*
 * Form Control ReadOnly
 */
input.form-control[readonly],
select.form-control[readonly],
.input-group-addon.readonly {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
