{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Edit Company</h1>
            <div class="w-50 mx-auto">
                {% include('Administration/Company/_form.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}
